/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/checksums/checksums.lock
/.gradle/6.5.1/executionHistory/executionHistory.lock
/.gradle/6.5.1/fileContent/fileContent.lock
/.gradle/6.5.1/fileHashes/fileHashes.lock
/.gradle/6.5.1/javaCompile/javaCompile.lock
/.gradle/*
/.idea/*
/build/*
